<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kevin.intellibag">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.kevin.intellibag.MainActivity"
            android:label="iKing Smartbag"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.example.kevin.intellibag.Boussole"
            android:label="Boussole"
            android:screenOrientation="portrait">

        </activity>

        <activity
            android:name="com.example.kevin.intellibag.PoidsActivity"
            android:label="Poids"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.example.kevin.intellibag.PodomActivity"
            android:label="Podometre"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.example.kevin.intellibag.HumidActivity"
            android:label="Humidité"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="com.example.kevin.intellibag.TemperatureActivity"
            android:label="Temperature"
            android:screenOrientation="portrait">
        </activity>

    </application>

</manifest>